elastic-transport==7.16.0
elasticsearch>=7.16.0
elasticsearch-dsl==7.4.1
fastapi
uvicorn
cryptography
sqlalchemy
dbutils
pymysql
pydantic==2.8.0
tiktoken
cachetools
python-dotenv
pydantic-settings==2.4.0
redis
SQLAlchemy>=2.0
psycopg[binary]>=3.1
numpy~=1.26.4
python-multipart
httpx
